# Zomato Bangalore Restaurant

## Imports

In [1]:
import pandas as pd
import numpy as np
import ast

## Data Cleaning Part 1

In [2]:
df = pd.read_csv("data/zomato.csv")

In [3]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
df.shape

(51717, 17)

In [5]:
for c in df.columns:
    print(c)

url
address
name
online_order
book_table
rate
votes
phone
location
rest_type
dish_liked
cuisines
approx_cost(for two people)
reviews_list
menu_item
listed_in(type)
listed_in(city)

### COLUMN URL

In [6]:
df["url"].isnull().sum()

np.int64(0)

### COLUMN ADDRESS

In [7]:
df["address"].isnull().sum()

np.int64(0)

### COLUMN NAME

In [8]:
df["name"].isnull().sum()

np.int64(0)

### COLUMN ONLINE_ORDER

In [9]:
df["online_order"].unique()

array(['Yes', 'No'], dtype=object)

In [10]:
df["online_order"].isnull().sum()

np.int64(0)

### COLUMN BOOK_TABLE

In [11]:
df["book_table"].unique()

array(['Yes', 'No'], dtype=object)

In [12]:
df["book_table"].isnull().sum()

np.int64(0)

### COLUMN RATE

In [13]:
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [14]:
df["rate"].replace(np.nan, "", inplace=True)
df["rate"].replace("-","",inplace=True)
df["rate"].unique()

/var/folders/k5/31v5qtn906158jhjx2lmfxwr0000gn/T/ipykernel_7769/2016265132.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rate"].replace(np.nan, "", inplace=True)
/var/folders/k5/31v5qtn906158jhjx2lmfxwr0000gn/T/ipykernel_7769/2016265132.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rate"].replace("-","",inplace=True)

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

### COLUMN VOTES

In [15]:
df["votes"].dtype

dtype('int64')

In [16]:
df["votes"].isnull().sum()

np.int64(0)

### COLUMN PHONE

In [17]:
df[~df["phone"].str.contains("[0-9+]", na=False)]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
121,https://www.zomato.com/bangalore/new-mangalore...,"89, Near PES College, 22nd Main Road, Girinaga...",New Mangalore Lunch Home,No,No,3.3/5,7,NaN,Banashankari,Quick Bites,NaN,"Mangalorean, South Indian, North Indian",200,[],[],Delivery,Banashankari
234,https://www.zomato.com/bangalore/kadamba-class...,"Satellite Bus Stand, KSRTC, Mysore Road, Banga...",Kadamba Classic,No,No,3.6/5,16,NaN,Mysore Road,Quick Bites,NaN,South Indian,300,"[('Rated 3.0', 'RATED\n Was on travel mode an...",[],Delivery,Banashankari
300,https://www.zomato.com/bangalore/just-thindi-b...,"27, Gandhi Bazaar Main Rd, Basavanagudi, Banga...",Just Thindi,Yes,No,3.6/5,16,NaN,Basavanagudi,Quick Bites,NaN,South Indian,200,"[('Rated 4.0', 'RATED\n rice bath was good bu...","['Vada', 'Idly [2 Pieces]', 'Masala Dosa', 'Kh...",Delivery,Banashankari
378,https://www.zomato.com/bangalore/dakshin-kitch...,"Kabirmutt Road, Gavipuram Extension, Basavanag...",Dakshin Kitchen,Yes,No,3.6/5,15,NaN,Basavanagudi,Quick Bites,NaN,South Indian,100,"[('Rated 5.0', ""RATED\n What's special here y...",[],Delivery,Banashankari
466,https://www.zomato.com/bangalore/chettys-corne...,"126/3, Uttarahalli Main Road, Sarvabouma Nagar...",Chetty's Corner,Yes,No,3.4/5,30,NaN,Uttarahalli,Quick Bites,NaN,"Fast Food, Burger, Pizza",200,"[('Rated 3.0', 'RATED\n Hi All,\n\nWe ordered...",[],Delivery,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51353,https://www.zomato.com/bangalore/chatpata-indi...,"Food Court, Ascendas Park Square Mall, ITPL Ma...",Chatpata India,Yes,No,3.9 /5,103,NaN,Whitefield,Food Court,"Chaat, Raj Kachori",North Indian,400,"[('Rated 3.0', ""RATED\n My experiences in Ban...","['Gup Chup [Pani Puri, 8 Pieces]]', 'Dahi Papd...",Dine-out,Whitefield
51501,https://www.zomato.com/bangalore/toastys-white...,"3rd Floor, Virginia Mall, Varthur Main Road, W...",Toasty's,No,No,,0,NaN,Whitefield,Food Court,NaN,Fast Food,500,[],[],Dine-out,Whitefield
51591,https://www.zomato.com/bangalore/donne-biryani...,"26, Aparaajita Building, Borewell Road, Opposi...",Donne Biryani Mane,Yes,No,3.5 /5,51,NaN,Whitefield,Quick Bites,NaN,Biryani,300,"[('Rated 4.0', ""RATED\n Donne biriyani mane h...","['Donne Biryani Rice', 'Donne Egg Biryani', 'D...",Dine-out,Whitefield
51641,https://www.zomato.com/bangalore/andhra-spices...,"188, ITPL Main Road, Brookefields, Bangalore, ...",Andhra Spices,No,No,3.2 /5,4,NaN,Brookefield,Quick Bites,NaN,"Andhra, Chinese, South Indian",NaN,"[('Rated 2.0', ""RATED\n Food is not upto the ...",[],Dine-out,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield

In [18]:
df[~df["phone"].str.contains("[0-9+]", na=False)]["phone"].unique()

array([nan], dtype=object)

In [19]:
df["phone"].replace(np.nan, "", regex=True, inplace=True)
df[~df["phone"].str.contains("[0-9+]", na=False)]["phone"].unique()

array([''], dtype=object)

### COLUMN LOCATION

In [20]:
df["location"].isnull().sum()

np.int64(21)

In [21]:
df[df["location"].isnull()]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
1662,https://www.zomato.com/bangalore/papa-khan-ras...,"6, Abbiah Layout KC Halli Main Road, Bommanaha...",Papa Khan Rasoi,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Bannerghatta Road
9874,https://www.zomato.com/bangalore/papa-khan-ras...,"6, Abbiah Layout KC Halli Main Road, Bommanaha...",Papa Khan Rasoi,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,BTM
13693,https://www.zomato.com/bangalore/mohabbat-desi...,"Chandapura- Anakal Main Road, Oppsite Vemana H...",Mohabbat Desi Restaurant,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Electronic City
16351,https://www.zomato.com/bangalore/desi-chatkara...,"Kudlu Gate, Bommanahalli, Bangalore",Desi Chatkara,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,HSR
26432,https://www.zomato.com/bangalore/new-taj-birya...,"IB Road, Lorry Stand, Kushaal Nagar, Ward 10, ...",New Taj Biryani Centre,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Kammanahalli
26519,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 4th Block
27672,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 4th Block
28611,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Koramangala 4th Block
29298,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 5th Block
30604,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 5th Block
31400,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Koramangala 5th Block
32131,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 6th Block
33457,https://www.zomato.com/bangalore/la-lunch-box-...,"80 Feet Road, Koramangala 4th Block, Bangalore",La Lunch Box,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 6th Block
34755,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 7th Block
40354,https://www.zomato.com/bangalore/the-happy-veg...,"399/34, 19th Main, Near Navarang Theatre, 2nd ...",The Happy Vegetarian,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Malleshwaram
40556,https://www.zomato.com/bangalore/risalo-restau...,"1630, 6th Main Road, AECS Layout E Block, Mara...",Risalo Restaurant,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Cafes,Marathahalli
41980,https://www.zomato.com/bangalore/risalo-restau...,"1630, 6th Main Road, AECS Layout E Block, Mara...",Risalo Restaurant,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Marathahalli
46586,https://www.zomato.com/bangalore/the-cinema-vi...,"9, Magadi Main Road, Cholourpalya, Vijay Nagar",The Cinema,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Rajajinagar
46609,https://www.zomato.com/bangalore/grill-biryani...,"West of Chord Road, Govindaraja Nagar, Below H...",Grill Biryanis,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Rajajinagar
46752,https://www.zomato.com/bangalore/the-happy-veg...,"399/34, 19th Main, Near Navarang Theatre, 2nd ...",The Happy Vegetarian,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Rajajinagar
47134,https://www.zomato.com/bangalore/the-cinema-vi...,"9, Magadi Main Road, Cholourpalya, Vijay Nagar",The Cinema,No,No,,0,,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Rajajinagar

In [22]:
df["phone"].replace(np.nan, "", regex=True, inplace=True)
df["phone"].isnull().sum()

np.int64(0)

### COLUMN REST_TYPE

In [23]:
df["rest_type"].isnull().sum()

np.int64(227)

In [24]:
df[df["rest_type"].isnull()].head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
999,https://www.zomato.com/bangalore/mughlai-kitch...,"77/2 BDA Road, Opposite RR Layout, BTM 6th Sta...",Mughlai Kitchen,Yes,No,3.5/5,269,+91 9663197947\r\r\n+91 9986692090,BTM,NaN,"Momos, Oreo Shake","Mughlai, North Indian, Chinese, Momos",600,"[('Rated 5.0', ""RATED\n Ordered Chicken Kadai...","['Fry Chicken Kabab [5 Pieces]', 'Fry Chicken ...",Delivery,Bannerghatta Road
1300,https://www.zomato.com/bangalore/eat-joy-resta...,"21, Saifee Apartment, 5th Cross, 22nd Main, Ne...",Eat & Joy Restaurant,Yes,No,3.0/5,7,+91 9945052352,JP Nagar,NaN,NaN,"Fast Food, Finger Food",300,"[('Rated 1.0', 'RATED\n I had ordered for one...",[],Delivery,Bannerghatta Road
1376,https://www.zomato.com/bangalore/kababish-rest...,"7th Main, 18th Cross NS Palya, 2nd Stage",Kababish Restaurant,Yes,No,3.6/5,15,+91 8050732123\r\n00 805074123,BTM,NaN,NaN,"North Indian, Chinese, Arabian",700,"[('Rated 2.0', 'RATED\n You would only go to ...",[],Delivery,Bannerghatta Road
1565,https://www.zomato.com/bangalore/goli-vada-pav...,"81/3, Hulimavu Road, Opposite Meenakshi Mall, ...",Goli Vada Pav No 1,No,No,,0,+91 9900561532\r\n+91 8971051846,Bannerghatta Road,NaN,NaN,"Street Food, Burger",150,[],[],Delivery,Bannerghatta Road
1637,https://www.zomato.com/bangalore/ammis-biryani...,"3, 1st Cross, Kalyani Kala Mandir, Bannerghatt...",Ammi's Biryani,No,No,2.4/5,392,+91 9513777152\r\n080 39457777,Bannerghatta Road,NaN,"Chicken Biryani, Hyderabadi Biryani, Rolls, Mu...","Biryani, North Indian",500,"[('Rated 3.0', 'RATED\n If you a spicy biriya...",[],Delivery,Bannerghatta Road

In [25]:
df["rest_type"].replace(np.nan, "", regex=True, inplace=True)
df["rest_type"].isnull().sum()

/var/folders/k5/31v5qtn906158jhjx2lmfxwr0000gn/T/ipykernel_7769/771183497.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rest_type"].replace(np.nan, "", regex=True, inplace=True)

np.int64(0)

### COLUMN DISH_LIKED

In [26]:
df["dish_liked"].isnull().sum()

np.int64(28078)

In [27]:
(df["dish_liked"]=="").sum()

np.int64(0)

In [28]:
df["dish_liked"].replace(np.nan, "",regex=True, inplace=True)
df["dish_liked"].isnull().sum()

/var/folders/k5/31v5qtn906158jhjx2lmfxwr0000gn/T/ipykernel_7769/364070377.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dish_liked"].replace(np.nan, "",regex=True, inplace=True)

np.int64(0)

### COLUMN CUISINES

In [29]:
df["cuisines"].isnull().sum()

np.int64(45)

In [30]:
df["cuisines"].replace(np.nan, "", regex=True, inplace=True)
df["cuisines"].isnull().sum()

/var/folders/k5/31v5qtn906158jhjx2lmfxwr0000gn/T/ipykernel_7769/1296134103.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cuisines"].replace(np.nan, "", regex=True, inplace=True)

np.int64(0)

### COLUMN APPROX_COST(FOR TWO PEOPLE)

In [31]:
df["approx_cost(for two people)"]

0          800
1          800
2          800
3          300
4          600
         ...
51712    1,500
51713      600
51714    2,000
51715    2,500
51716    1,500
Name: approx_cost(for two people), Length: 51717, dtype: object

In [32]:
df["approx_cost(for two people)"].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [33]:
df["approx_cost(for two people)"].dtype

dtype('O')

In [34]:
df["approx_cost(for two people)"].replace(np.nan, "", regex=True, inplace=True)
df["approx_cost(for two people)"].isnull().sum()

np.int64(0)

### COLUMN REVIEWS_LIST

In [35]:
df["reviews_list"].isnull().sum()

np.int64(0)

In [36]:
(df["reviews_list"]=="[]").sum()

np.int64(7595)

In [37]:
df["reviews_list"] = df["reviews_list"].apply(ast.literal_eval)
df["reviews_list"].head()

0    [(Rated 4.0, RATED\n  A beautiful place to din...
1    [(Rated 4.0, RATED\n  Had been here for dinner...
2    [(Rated 3.0, RATED\n  Ambience is not that goo...
3    [(Rated 4.0, RATED\n  Great food and proper Ka...
4    [(Rated 4.0, RATED\n  Very good restaurant in ...
Name: reviews_list, dtype: object

In [38]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[(Rated 4.0, RATED\n A beautiful place to din...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[(Rated 4.0, RATED\n Had been here for dinner...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[(Rated 3.0, RATED\n Ambience is not that goo...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[(Rated 4.0, RATED\n Great food and proper Ka...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[(Rated 4.0, RATED\n Very good restaurant in ...",[],Buffet,Banashankari

In [39]:
df["reviews_list"].apply(len).sum()

np.int64(1320051)

### COLUMN MENU_ITEM

In [40]:
df["menu_item"].isnull().sum()

np.int64(0)

In [41]:
(df["menu_item"]=="[]").sum()

np.int64(39617)

In [42]:
df["menu_item"] = df["menu_item"].apply(ast.literal_eval)
df["menu_item"].apply(len).sum()

np.int64(1303851)

### COLUMN LISTED_IN(TYPE)

In [43]:
df["listed_in(type)"].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

### COLUMN LISTED_IN(CITY)

In [44]:
df["listed_in(city)"].unique()

array(['Banashankari', 'Bannerghatta Road', 'Basavanagudi', 'Bellandur',
       'Brigade Road', 'Brookefield', 'BTM', 'Church Street',
       'Electronic City', 'Frazer Town', 'HSR', 'Indiranagar',
       'Jayanagar', 'JP Nagar', 'Kalyan Nagar', 'Kammanahalli',
       'Koramangala 4th Block', 'Koramangala 5th Block',
       'Koramangala 6th Block', 'Koramangala 7th Block', 'Lavelle Road',
       'Malleshwaram', 'Marathahalli', 'MG Road', 'New BEL Road',
       'Old Airport Road', 'Rajajinagar', 'Residency Road',
       'Sarjapur Road', 'Whitefield'], dtype=object)

In [45]:
df["listed_in(city)"].nunique()

30

## Data Cleaning Part 2

In [46]:
df.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [47]:
df["online_order"] = df["online_order"].astype("category")
df["book_table"] = df["book_table"].astype("category")
df["location"] = df["location"].astype("category")
df["rest_type"] = df["rest_type"].astype("category")
df["listed_in(city)"] = df["listed_in(city)"].astype("category")
df["listed_in(type)"] = df["listed_in(type)"].astype("category")

In [48]:
df.dtypes

url                              object
address                          object
name                             object
online_order                   category
book_table                     category
rate                             object
votes                             int64
phone                            object
location                       category
rest_type                      category
dish_liked                       object
cuisines                         object
approx_cost(for two people)      object
reviews_list                     object
menu_item                        object
listed_in(type)                category
listed_in(city)                category
dtype: object

In [49]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[(Rated 4.0, RATED\n A beautiful place to din...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[(Rated 4.0, RATED\n Had been here for dinner...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[(Rated 3.0, RATED\n Ambience is not that goo...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[(Rated 4.0, RATED\n Great food and proper Ka...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[(Rated 4.0, RATED\n Very good restaurant in ...",[],Buffet,Banashankari

In [50]:
df.describe(include="all")

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
count,51717,51717,51717,51717,51717,51717,51717.000000,51717,51696,51717,51717,51717,51717,51717,51717,51717,51717
unique,51717,11495,8792,2,2,64,NaN,14927,93,94,5272,2724,71,22513,9098,7,30
top,https://www.zomato.com/bangalore/jalsa-banasha...,Delivery Only,Cafe Coffee Day,Yes,No,,NaN,,BTM,Quick Bites,,North Indian,300,[],[],Delivery,BTM
freq,1,128,96,30444,45268,7844,NaN,1208,5124,19132,28078,2913,7576,7595,39617,25942,3279
mean,NaN,NaN,NaN,NaN,NaN,NaN,283.697527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,803.838853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,41.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,198.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,16832.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN